page-smjestaj-detalji {

  .smjestaj_naziv
  {
    color: $narandjasta_boja;
  }

  .adresa
  {
    color: $narandjasta_boja;
  }

  .galerija_icon
  {
    color: $narandjasta_boja;
  }

  .zvijezdice
  {
    color: $narandjasta_boja;
  }

  .info_icon
  {
    color: $narandjasta_boja;
  }

  .icon_list
  {
    color: $narandjasta_boja;
  }

  .pull
  {
    color: $narandjasta_boja;
  }

  .ikona_rezervacija
  {
    font-size: 2.5em;
    color: $crvena;

  }

}
