page-gastro-detalji {

  .info_icon
  {
    color: $roza_boja !important;
  }

  .pull
  {
    color: $roza_boja !important;
  }

  .smjestaj_naziv
  {
    color: $roza_boja !important;
  }

  .adresa
  {
    color: $roza_boja !important;
  }

  .icon_list
  {
    color: $roza_boja !important;
  }

  .galerija_icon
  {
    color: $roza_boja !important;
  }

}
