<ion-header>
  <ion-navbar color="narandjasta">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Smještaj
      <span class="navbar_small_subtitle">PONUDA HOTELA, SOBA I PRIVATNOG SMJEŠTAJA</span>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
   <ion-row class="main_row" *ngFor="let smjestaj_items of smjestaj | async">
     <div class="wraper_div_main" [style.background-image]="'url(' + smjestaj_items.slika + ')'" (click)="detalji_smjestaja(smjestaj_items.id)">
       <div class="inner_div">
         <span class="span_ikona_open"><ion-icon name="ios-arrow-forward" style="color: #FFF;"></ion-icon></span>
         <span class="span_naziv_obj">{{smjestaj_items.naziv_objekta}}</span><br>
         <span class="span_tip">{{smjestaj_items.tip}}</span><br>
         <span *ngIf="smjestaj_items.zvjezdica == 1"><ion-icon name="star"></ion-icon></span>
         <span *ngIf="smjestaj_items.zvjezdica == 2"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></span>
         <span *ngIf="smjestaj_items.zvjezdica == 3"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></span>
         <span *ngIf="smjestaj_items.zvjezdica == 4"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></span>
         <span *ngIf="smjestaj_items.zvjezdica == 5"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></span>
       </div>
     </div>
   </ion-row>
 </ion-grid>



</ion-content>
