page-user-postavke {

  .profile_picture
  {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100rem;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
  }

  .unos_ime_prezime
  {
    font-size: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .input_login
  {
    text-align: center;
  }



}
