page-dogadjanja {

  .toast-message {
    white-space: pre;
  }

  .segment-md-secondary .segment-button {
    color: $zelena_boja;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: $zelena_boja !important;
    color: $zelena_boja;
  }

  .segment-md .segment-button {
    border-bottom-color: rgba(39, 121, 61, 0.2) !important;
  }

  .segment_class
  {
    margin-top: 10px;
    z-index: 9999;
    background-color: #FFF;
    padding: 10px;
    padding-bottom: 0px;
  }

  .padding_custom
  {
    margin-top: -15px !important;
    padding: 0px 10px 0px 10px !important;
  }

  .clear_img
  {

  }

}
